@import url('https://fonts.googleapis.com/css?family=Ubuntu:401');

:root {
    /* fonts */
    --ff-primary: 'Ubuntu', sans-serif;

    /* font sizes, probably don't need all these */
    --fs-xs: 0.8125rem;
    --fs-sm: 0.875rem;
    --fs-md: 0.9375rem;
    --fs-lg: 1rem;
    --fs-xl: 1.875rem;
    --fs-xxl: 2.5rem;
    --fs-lg-af: 3.5rem;

    /* border */
    --rounded-sm: .5rem;

    /* colors 🌈 */

    /* scotland 🏴󠁧󠁢󠁳󠁣󠁴󠁿 */
    --clr-xiketic: #1b1725;
    --clr-indepndence: #534b62;
    --clr-heliotrope-gray: #3a499b3;
    --clr-thistle: #d0bcd5;
    --clr-celtic-blue: #226ce0;

    --clr-greenish: #00C9A7;
    --clr-greenish-200: #00C9A780;

    --clr-royal-yellow: #FFD228;
    --clr-royal-red: #B4001E;

    --clr-rusty: #FF8066;

    --clr-black-bean: #09090B;
    --clr-white: white;
    --clr-gray: #343232;
    --clr-dark: #2A303C;
    --clr-emerald: #66CC8A;
    --clr-orange: #F28C18;
    --clr-cherry: #D2042D;
}


