@import "properties.css";

body {
    min-height: 100vh;
    box-sizing: border-box;
    margin: 0;
    font-family: var(--ff-primary);
    color: var(--clr-bg-text);
    background-color: var(--clr-bg);
}

main {
    margin: auto;
    min-width: 300px;
    max-width: 500px;
    width: 40%;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

input, #water-temp {
    background-color: var(--clr-bg);
    border: 1px solid var(--clr-bg-text);
    color: var(--clr-bg-text);
}

path {
    fill: var(--clr-bg-text);
}

.temp-input, #water-temp {
    width: 90%;
    display: block;
    padding: .25rem;
    margin: .5rem auto;
    text-align: center;
    border-radius: var(--rounded-sm);
}


.temp-label {
    font-size: var(--fs-xs);
}

#heading, #description {
    margin-bottom: .5rem;
}

#description {
    font-size: var(--fs-sm);
}

#water-temp {

}

header {
    height: 50px;
}

footer {

}

header a {
    float: right;
    margin: 1rem;
}

label {
  font-size: var(--fs-sm);
}

legend {
    font-size: var(--fs-md)
}

fieldset {
    margin-bottom: .75rem;
    border-radius: var(--rounded-sm);
}

