@import "properties.css";

body {
    min-height: 100vh;
    box-sizing: border-box;
    margin: 0;
    font-family: var(--ff-primary);
    color: var(--clr-bg-content);
    background-color: var(--clr-bg);
}

main {
    margin: auto;
    min-width: 300px;
    max-width: 500px;
    width: 40%;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

h1 {
    font-size: var(--fs-xl);
}

p {
    line-height: 1.25;
}

input, #water-temp {
    background-color: var(--clr-bg);
    border: 1px solid var(--clr-bg-content);
    color: var(--clr-bg-content);
}

path {
    fill: var(--clr-bg-content);
}

.temp-input, #water-temp {
    width: 90%;
    display: block;
    padding: .25rem;
    margin: .5rem auto;
    text-align: center;
    border-radius: var(--rounded-sm);
}


.temp-label {
    font-size: var(--fs-xs);
}

#heading, #description {
    margin-bottom: .5rem;
}

#description {
    font-size: var(--fs-sm);
}

#water-temp {
    font-weight: bold;
}

header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    display: flex;
    justify-content: center;
    padding: 1rem;
    font-size: var(--fs-xs);
    font-style: italic;
}

header a {
   padding: 1rem;
}

label {
  font-size: var(--fs-sm);
}

legend {
    font-size: var(--fs-md)
}

fieldset {
    margin-bottom: .75rem;
    border-radius: var(--rounded-sm);
    border: 1px solid var(--clr-bg-content);
}

#options {
    display: flex;
}

.option-wrapper {
    flex: 1;
}

#theme-picker {
    width: fit-content;
    border: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 1rem;
    /*background-color: var(--clr-bg-content);*/
}

#theme-picker input[type="radio"] {
    appearance: none;
    width: 1rem;
    height: 1rem;
    border: 2px solid gray;
    outline-offset: 3px;
    border-radius: 25%;
    margin: 0;
}

#theme-picker input[type="radio"] {
    background-color: var(--radio-color);
}

#theme-picker input[type="radio"]:checked {
    border-color: var(--clr-bg-content);
}

#purplish {
    --radio-color: var(--clr-xiketic);
}

#scotland {
    --radio-color: var(--clr-celtic-blue);
}

#boring {
    --radio-color: var(--clr-white);
}

#boring-dark {
    --radio-color: var(--clr-dark);
}

#emerald {
    --radio-color: var(--clr-emerald);
}

select {
    color: var(--clr-bg-content);
    background-color: var(--clr-bg);
    border-radius: var(--rounded-sm);
    padding: .25rem;
    border: 1px solid var(--clr-bg-content);
}

.hidden {
    clip: rect(0, 0, 0, 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

